/* body{
    /* background-color: #6A9C89; 
} */
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

.hero{
    /* background: linear-gradient(45deg, #08001f,330197d); */
    background: linear-gradient(45deg, #08001f, #30197d);
    width: 100%;
    min-height: 100vh;
    position: relative;
    color: #fff;
}
/*
.Container{
   
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    flex-direction: column;
    
}
.ClockBox{
    width: 300px;
    height: 100px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#ShowBox{
    font-size: xxx-large;
     color: #df2a12; 
}

h2{
    color: #FFC0D9;
}

*/


.Container{
    width: 800px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 110px;
    transform: translate(-50%, -50%);
}




.ClockBox{
    width: 100%;
    height: 100%;
    background-color: rgba(235, 0, 255, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    backdrop-filter: blur(45px);   /*  to make backgroud blue */
}

.ClockBox span{
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.ClockBox span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#h::after {
    content: 'HOUR';
}

#m::after {
    content: 'MIN';
}
#sec::after {
    content: 'SEC';
}



.Container::before{
    content: '';
    width: 165px;
    height: 165px;
    background-color: #f41b75;
    position: absolute;
    border-radius: 5px;
    left: -55px;
    top: -55px;
    z-index: -1;

}

.Container::after{
    content: '';
    width: 165px;
    height: 165px;
    background-color: #419aff;
    position: absolute;
    border-radius: 50%;
    right: -35px;
    bottom: -65px;
    z-index: -1;

}